{{ define "main" }}

        <div class="card">

            <article>

                {{ if .Params.date_hidden }}
                {{ else }}
                    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
                    {{ $dateFormat := .Site.Params.dateFormat }}
                <div class="time" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</div>
                {{ end }}

                {{ if .Params.title_hidden }}
                {{ else }}
                <h2 class="title">{{ .Title }}</h2>
                {{ end }}

                <div class="text">{{ .Content }}</div>
            </article>

        </div>

        <div class="pagination">
            <a onclick="javascript:history.back();">{{ $.Site.Params.PageBack }}</a>
        </div>

{{ end }}
