<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $currentPage := . }}

    {{ if .IsHome }}
    <title>{{ .Site.Title | title }}</title>
    {{ else }}
        {{- range .Site.Menus.home -}}
            {{ if eq .Identifier $currentPage.Section }}
                {{ if .Title }}
                <title>{{ .Title | title }}</title>
                {{ else }}
                <title>{{ $currentPage.Section | title }}</title>
                {{ end }}
            {{ end }}
        {{ end }}
    {{- end -}}

    {{- range .Site.Menus.main -}}
        {{ if eq .Identifier $currentPage.Section }}
            {{ if .Title }}
            <title>{{ .Title | title }}</title>
            {{ else }}
            <title>{{ $currentPage.Section | title }}</title>
            {{ end }}
        {{ end }}
    {{- end -}}

    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

    {{ if .Site.Params.externalStyle }}
    {{ $css := resources.Get "css/style.css" }}
    {{ $style := $css | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}?v={{ .Site.Params.externalStyleVersion }}" media="print" onload="this.media='all'; this.onload = null">
    <noscript><link rel="stylesheet" href="{{ $style.RelPermalink }}?v={{ .Site.Params.externalStyleVersion }}"></noscript>
    {{ else }}
        {{- partial "internal-style.html" . -}}
    {{ end }}

    {{- partial "custom-style.html" . -}}

    {{- partial "custom-head.html" . -}}


</head>
