<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $title := print .Site.Title " | " .Section }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>

    {{ partial "pre-css.html" . }}

    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" media="print" onload="this.media='all'; this.onload = null">
    <noscript><link rel="stylesheet" href="{{ "/css/style.css" | relURL }}"></noscript>
    <link rel="icon" href="/favicon.png" type="image/png">
</head>