<style>
    html {
        background-color: #ededed;
        font-size: 15px;
        overflow-x: hidden;
        overflow-y: scroll;
        overscroll-behavior: none!important;
    }
    nav, .main .container, footer {
        display: none;
    }
    .main .loading {
        color: black;
        font-family: system-ui, sans-serif, serif;
        font-size: 1.25rem;
        font-weight: normal;
        text-align: center;
        position: absolute;
        top: 12rem;
        left: 0;
        right: 0;
    }
</style>