<style>
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*! common */
html {
  background-color: white;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none!important;
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-weight: normal;
  line-height: 1.5;
}

.container {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Segoe UI, system-ui, -apple-system, BlinkMacSystemFont, Microsoft YaHei, Baskerville SemiBold, Book Antiqua, Optima, Palatino, Droid Serif, sans-serif, serif;
  font-size: 1rem;
  flex-grow: 1;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 100%;
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

del {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  -webkit-text-decoration-color: #222;
          text-decoration-color: #222;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-decoration-thickness: 1px ;
}

hr {
    border: 1px solid #f5f5f5;
    box-shadow: none;
    margin: .8em 0 .9em 0;
    background-color: #f5f5f5;
}

small {
  display: inline-block;
  font-size: .85em;
}

/*! navbar */
nav {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0,.1) 0 4px 6px -1px;
  box-shadow: rgba(0, 0, 0,.1) 0 4px 6px -1px;
  display: block;
  overflow-x: hidden;
  position: static;
}

nav .container {
  align-items: center;
  display: flex;
  font-size: 1.15rem;
  height: 3.2rem;
  line-height: 3.2rem;
  overflow-x: auto;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
}

nav img, nav svg {
  height: auto;
  margin-left: .35rem;
  margin-right: .5rem;
}

nav a {
  background-color: white;
  color: #222;
  font-size: 1em;
  height: auto;
  padding: 0 .35rem;
}

nav a.menu-active {
  color: #06c;
}

nav a:hover {
  background-color: #f5f5f5;
}

/*! .main section*/
.main .container {
  display: block;
  padding-top: 1.35rem;
  padding-bottom: .2rem;
}

/*! main card section*/
.card {
  background-color: white;
  border-radius: 0.55rem;
  -webkit-box-shadow: rgba(0, 0, 0,.1) 0 4px 6px -1px, rgba(0, 0, 0,.1) 0 2px 4px -1px;
  box-shadow: rgba(0, 0, 0,.1) 0 4px 6px -1px, rgba(0, 0, 0,.1) 0 2px 4px -1px;
  margin-bottom: 1.35rem;
  max-width: 100%;
  padding: .75rem .8rem .9rem .9rem;
  position: relative;
}

article {
  line-height: 1.6;
  text-align: left;
}

.time {
  color: #222;
  font-size: .75em;
}

.time-invisible {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: .45em 0 .45em 0;
}

h1 {
  font-size: 1.375em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

article h2:first-child, .time + h2 {
  margin-top: 0;
  margin-bottom: 0.375em;
}

p {
  margin-top: .55em;
  margin-bottom: .55em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}


article a.button {
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 0.35rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222;
  display: inline-flex;
  font-size: .8em;
  height: 2.1em;
  line-height: 2.1em;
  margin-top: 1em;
  padding: 0 .35em;
  position: relative;
}

@media (min-width:641px) {
  article a:hover {
    background-color: #ececec;
  }
}

article a:active {
  background-color: #dfdfdf;
}

blockquote {
  background-color: #f5f5f5;
  border-left: 4px solid #dbdbdb;
  margin-bottom: .5em;
  margin-top: .3em;
  padding: .45em .35em .4em .35em;
  text-align: left;
}

code {
  padding: 0.2em;
  margin: 0;
  font-family: Courier New, Courier, monospace, sans-serif, serif;
  font-size: .875em;
  background-color: #f5f5f5;
  border-radius: 3px;
}

pre code {
  display: block;
  padding: 1.5em 1.5em;
  font-size: .8em;
  line-height: 2;
  overflow-x: auto;
}

pre {
  background-color: #fff;
  color: #333;
  white-space: pre;
  hyphens: none;
  position: relative;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
}

.highlight pre code {
  background-color: black;
  font-size: .8em;
}

ul {
  list-style: disc;
  margin-left: 1.2em;
}

ol {
  margin-left: 1.2em;
}

/*! .main pagination section */
.pagination {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  justify-content: flex-start;
  margin-bottom: .75rem;
  padding: 0 0 .3rem 0;
}

.pagination .page-num {
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pagination a {
  background-color: white;
  border-color: transparent;
  border-radius: 0.35rem;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: rgba(0, 0, 0,.1) 0 4px 6px -1px, rgba(0, 0, 0,.1) 0 2px 4px -1px;
  box-shadow: rgba(0, 0, 0,.1) 0 4px 6px -1px, rgba(0, 0, 0,.1) 0 2px 4px -1px;
  color: #222;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  padding: 0 .4em;
}

.pagination a.button-invisible {
  visibility: hidden!important;
}

@media (min-width:641px) {
  .pagination a:hover {
    background-color: #fcfcfc;
  }
}

.pagination a:active {
  background-color: #f5f5f5;
}

/*! footer */
footer {
  background-color: white;
  display: block;
}

footer .container {
  font-size: .85rem;
  line-height: 1.8;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

footer .icp span {
  margin-right: .2em;
}

footer a {
  color: inherit;
}

@media (min-width:641px) {
  footer a:hover {
    background-color: #f5f5f5;
  }
}

footer a:active {
  color: #0066cc;
}

footer p {
  margin: 0;
}

/*! flex container */
@media (max-width:640px) {
  .container {
    font-size: 1.2rem;
    width: 100%;
  }
}

@media (max-width:1024px) and (min-width:641px) {
  .container {
    font-size: 1.25rem;
    width: 620px;
  }
}

@media (max-width:1280px) and (min-width:1025px) {
  .container {
    font-size: 1.275rem;
    width: 720px;
  }
}

@media (max-width:1920px) and (min-width:1281px) {
  .container {
    font-size: 1.3rem;
    width: 810px;
  }
}

@media (min-width:1921px) {
  .container {
    font-size: 1.375rem;
    width: 1000px;
  }
}

</style>
