<nav>
    <div class="container">

        {{- if .Site.Params.logo -}}
        <div class="logo">
            <img src="{{ $.Site.Params.logo }}" loading="lazy" width="24" height="24">
        </div>
        {{- end -}}

        {{ $currentPage := . }}
        {{- range .Site.Menus.home -}}
        <a href="{{ .URL }}" {{ if or $.IsHome (eq .Identifier $currentPage.Section) }}class="menu-active"{{ end }}>{{ print .Name | safeHTML }}</a>
        {{- end -}}
        {{- range .Site.Menus.main -}}
        <a href="{{ .URL }}" {{ if eq .Identifier $currentPage.Section }}class="menu-active"{{ end }}>{{ print .Name | safeHTML }}</a>
        {{- end -}}

    </div>
</nav>