
<div class="pagination">
    {{ if .Paginator.HasPrev }}
    <button class="page-newer">
        <a href="{{ .Paginator.Prev.URL }}"><span></span>{{ $.Site.Params.NewerPosts }}</a>
    </button>
    {{ else }}
    <button class="page-newer button-invisible">
        <a><span></span>{{ $.Site.Params.NewerPosts }}</a>
    </button>
    {{ end }}

    <div class="page-num">
        {{ $.Paginator.PageNumber }} / {{ $.Paginator.TotalPages }}
    </div>

    {{ if .Paginator.HasNext }}
    <button class="page-older">
        <a href="{{ .Paginator.Next.URL }}"><span></span>{{ $.Site.Params.OlderPosts }}</a>
    </button>
    {{ else }}
    <button class="page-older button-invisible">
        <a><span></span>{{ $.Site.Params.OlderPosts }}</a>
    </button>
    {{ end }}
</div>
